Importar librerias

In [1]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import seaborn as sns
import ipywidgets as widgets 
import ast
import gzip
import pandas as pd
from io import StringIO

Crear rutas de archivos

In [2]:
# ruta de archivos JSON

ruta_games = "PI MLOps - STEAM/output_steam_games2.json"

Leer archivo games json

In [3]:
# leer archivo games

# Crea una lista para almacenar los objetos JSON
lista_de_json = []

# Abre el archivo JSON y lee línea por línea
with open(ruta_games, 'r') as archivo_json:
    for linea in archivo_json:
        objeto_json = json.loads(linea)
        lista_de_json.append(objeto_json)

Transformar a un DF

In [4]:
# Crea un DataFrame a partir de la lista de objetos JSON
df_games = pd.DataFrame(lista_de_json)

In [40]:
df_games.sample(3)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,discount_price,specs,price,early_access,id,metascore,developer,user_id,steam_id,items,items_count
84442,None,None,None,None,None,None,None,None,NaN,None,None,None,None,None,None,6985,76561198099956558,[],0.0
49284,None,None,None,None,None,None,None,None,NaN,None,None,None,None,None,None,76561198037002584,76561198037002584,"[{'item_id': '42910', 'item_name': 'Magicka', ...",8.0
96251,Daedalic Entertainment,"[Adventure, Indie]",Edna & Harvey: Harvey's New Eyes Soundtrack,Edna &amp; Harvey: Harvey's New Eyes Soundtrack,http://store.steampowered.com/app/558160/Edna_...,2016-11-15,"[Adventure, Indie]",http://steamcommunity.com/app/558160/reviews/?...,NaN,"[Single-player, Downloadable Content, Steam Ac...",2.99,False,558160,None,Daedalic Entertainment,None,None,None,NaN

Eliminar espacios en blanco

In [6]:
# Aplicar strip() a cada celda del DataFrame para eliminar espacios en blanco
df_games = df_games.applymap(lambda x: x.strip() if isinstance(x, str) else x)

Guardar Df a un CSV

In [7]:
# Ruta donde deseas guardar el archivo CSV
ruta_csv = r"C:\Users\computadora\Downloads\Labs Henrys PI\df_games_json.csv"  # Cambia esta ruta a la que desees

# Guarda el DataFrame en un archivo CSV
df_games.to_csv(ruta_csv, index=False)  # El argumento 'index=False' evita que se incluya el índice en el archivo CSV

print("DataFrame guardado como archivo CSV en:", ruta_csv)

DataFrame guardado como archivo CSV en: C:\Users\computadora\Downloads\Labs Henrys PI\df_games_json.csv

In [8]:
# mostrar las columnas de DF
df_games.columns

Index(['publisher', 'genres', 'app_name', 'title', 'url', 'release_date',
       'tags', 'reviews_url', 'discount_price', 'specs', 'price',
       'early_access', 'id', 'metascore', 'developer', 'user_id', 'steam_id',
       'items', 'items_count'],
      dtype='object')

In [9]:
df_games.sample(10)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,discount_price,specs,price,early_access,id,metascore,developer,user_id,steam_id,items,items_count
24911,None,None,None,None,None,None,None,None,NaN,None,None,None,None,None,None,76561198087173211,76561198087173211,[],0.0
58685,None,None,None,None,None,None,None,None,NaN,None,None,None,None,None,None,76561198061052822,76561198061052822,"[{'item_id': '220', 'item_name': 'Half-Life 2'...",13.0
23665,None,None,None,None,None,None,None,None,NaN,None,None,None,None,None,None,76561198062114643,76561198062114643,"[{'item_id': '220', 'item_name': 'Half-Life 2'...",159.0
51522,None,None,None,None,None,None,None,None,NaN,None,None,None,None,None,None,76561198044366147,76561198044366147,"[{'item_id': '240', 'item_name': 'Counter-Stri...",41.0
48086,None,None,None,None,None,None,None,None,NaN,None,None,None,None,None,None,brodine,76561198029040380,"[{'item_id': '4000', 'item_name': 'Garry's Mod...",13.0
15099,None,None,None,None,None,None,None,None,NaN,None,None,None,None,None,None,SpookySpazo,76561198055672514,"[{'item_id': '240', 'item_name': 'Counter-Stri...",40.0
110204,Dovetail Games - Flight,[Simulation],FSX Steam Edition: Rockwell B-1B Lancer™ Add-On,FSX Steam Edition: Rockwell B-1B Lancer™ Add-On,http://store.steampowered.com/app/491490/FSX_S...,2016-08-23,[Simulation],http://steamcommunity.com/app/491490/reviews/?...,NaN,"[Single-player, Multi-player, Downloadable Con...",16.99,False,491490,None,Virtavia,None,None,None,NaN
37992,None,None,None,None,None,None,None,None,NaN,None,None,None,None,None,None,76561198078990410,76561198078990410,"[{'item_id': '205790', 'item_name': 'Dota 2 Te...",27.0
78067,None,None,None,None,None,None,None,None,NaN,None,None,None,None,None,None,FishGaming234,76561198087906659,"[{'item_id': '31280', 'item_name': 'Poker Nigh...",13.0
106428,Degica,"[Design &amp; Illustration, Web Publishing]",RPG Maker MV - Elemental Dungeons Tiles,RPG Maker MV - Elemental Dungeons Tiles,http://store.steampowered.com/app/580050/RPG_M...,2017-04-20,"[Design & Illustration, Web Publishing]",http://steamcommunity.com/app/580050/reviews/?...,NaN,"[Downloadable Content, Steam Trading Cards, Pa...",9.99,False,580050,None,"KADOKAWA,Yoji Ojima,Sherman3D",None,None,None,NaN

Crear DF con columnas a utilizar

In [10]:
df_games_geners_app = df_games[['genres', 'app_name','user_id']]
df_games_geners_app

,genres,app_name,user_id
0,None,None,76561197970982479
1,None,None,js41637
2,None,None,evcentric
3,None,None,Riot-Punch
4,None,None,doctr
...,...,...,...
120440,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,None
120441,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,None
120442,"[Indie, Racing, Simulation]",Russian Roads,None
120443,"[Casual, Indie]",EXIT 2 - Directions,None
120444,None,Maze Run VR,None

Observacion: La columna genres tiene datos anidados tipo lista

Extraer los valores tipo lista de la columna genres a valores indiviuales

In [11]:

# la función str.join para combinar los elementos de la columna 'genres' en una cadena separada por comas.
df_games_geners_app['genres'] = df_games_geners_app['genres'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)

# Se divide la columna 'genres' en columnas separadas para cada género utilizando str.get_dummies.
df_genres_split = df_games_geners_app['genres'].str.get_dummies(', ')

# Concatenar las columnas generadas al DataFrame original.
df_games_genres_app = pd.concat([df_games_geners_app, df_genres_split], axis=1)

C:\Users\computadora\AppData\Local\Temp\ipykernel_10016\1515593739.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_games_geners_app['genres'] = df_games_geners_app['genres'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)

In [12]:
# mostrar el DF
df_games_geners_app.sample(10)

,genres,app_name,user_id
469,None,None,76561198070263209
88486,"Action, Adventure",LEGO Batman,None
99110,None,THE KING OF FIGHTERS: DESTINY,None
59579,None,None,76561198062504314
59330,None,None,MarlieGaming
97752,"Casual, Indie",Save Their Souls,None
75610,None,None,76561198083739638
79319,None,None,Sucodebanulla
37640,None,None,silverdj141414
97873,"Casual, Indie, RPG, Simulation",Everything OST,None

Ahora la columna genres posee datos separados por coma de tipo str

Vamos crear una columna por cada valor en la columna genres

In [13]:

# Itera a través de las columnas generadas a partir de 'genres' y crea una nueva columna para cada valor dividido.
for genre_column in df_genres_split.columns:
    # Crea una nueva columna con el nombre del género y asigna 1 si ese género está presente en esa fila, 0 en caso contrario.
    df_games_genres_app[genre_column] = df_genres_split[genre_column]


df_games_genres_app.sample(10)

,genres,app_name,user_id,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,Design &amp; Illustration,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
29832,None,None,shhdude1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
155,None,None,76561198072186059,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57138,None,None,76561198058193255,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
81172,None,None,76561198092990566,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59377,None,None,76561198062168167,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53394,None,None,iwrestlehobos,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
70157,None,None,76561198074673051,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
109390,"Indie, RPG, Strategy",Fantasy Grounds - ArcKnight Tokens - Mankind,None,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
40360,None,None,76561198054601091,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50027,None,None,princessfifi,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
# Veamos las columnas del DF para excluir las que no utilizaremos
df_games_genres_app.columns

Index(['genres', 'app_name', 'user_id', 'Accounting', 'Action', 'Adventure',
       'Animation &amp; Modeling', 'Audio Production', 'Casual',
       'Design &amp; Illustration', 'Early Access', 'Education',
       'Free to Play', 'Indie', 'Massively Multiplayer', 'Photo Editing',
       'RPG', 'Racing', 'Simulation', 'Software Training', 'Sports',
       'Strategy', 'Utilities', 'Video Production', 'Web Publishing'],
      dtype='object')

Eliminar columnas que no voy a utilizar, me quedo con las que voy a trabajar

In [15]:

columnas_a_mantener = ['user_id','app_name','Action', 'Adventure', 'Racing', 'Simulation', 'Strategy','Sports']

# Crear una lista de columnas que deseas mantener
columnas_a_eliminar = [col for col in df_games_genres_app.columns if col not in columnas_a_mantener]

# Eliminar las columnas no deseadas del DataFrame
df_games_genres_app = df_games_genres_app.drop(columnas_a_eliminar, axis=1)

In [16]:
df_games_genres_app.sample(10)

,app_name,user_id,Action,Adventure,Racing,Simulation,Sports,Strategy
50481,None,76561198042109986,0,0,0,0,0,0
9153,None,dubstep3000,0,0,0,0,0,0
73548,None,kuy_kuy1,0,0,0,0,0,0
92686,Aerannis,None,1,0,0,0,0,0
107237,Langoth,None,1,1,0,0,0,0
55620,None,76561198054453844,0,0,0,0,0,0
116968,Frayed Knights: The Skull of S'makh-Daon,None,0,0,0,0,0,0
84749,None,76561198100969306,0,0,0,0,0,0
100174,The Village,None,1,0,0,0,0,1
69653,None,76561198073970893,0,0,0,0,0,0

Limpieza de datos

Visualizar valores nulos

In [17]:
# datos nulos
df_games_genres_app.isnull().sum()

app_name      88312
user_id       32135
Action            0
Adventure         0
Racing            0
Simulation        0
Sports            0
Strategy          0
dtype: int64

Valores vacios

In [18]:
# datos vacios
df_games_genres_app.isna().sum()

app_name      88312
user_id       32135
Action            0
Adventure         0
Racing            0
Simulation        0
Sports            0
Strategy          0
dtype: int64

In [19]:
# Vemos el tipo de dato de cada columna 
df_games_genres_app.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   app_name    32133 non-null   object
 1   user_id     88310 non-null   object
 2   Action      120445 non-null  int64
 3   Adventure   120445 non-null  int64
 4   Racing      120445 non-null  int64
 5   Simulation  120445 non-null  int64
 6   Sports      120445 non-null  int64
 7   Strategy    120445 non-null  int64
dtypes: int64(6), object(2)
memory usage: 7.4+ MB

In [20]:
# Crear una serie con los datos de la columna 'user_id' para rellenar los valores NaN

valores_aleat = df_games_geners_app['user_id'][df_games_geners_app['user_id'].notna()]
type(valores_aleat)

pandas.core.series.Series

In [21]:
valores_aleat

0              76561197970982479
1                        js41637
2                      evcentric
3                     Riot-Punch
4                          doctr
                  ...
88305          76561198323066619
88306          76561198326700687
88307    XxLaughingJackClown77xX
88308          76561198329548331
88309          edward_tremethick
Name: user_id, Length: 88310, dtype: object

In [22]:
# crear una lista con los nombres de app_name para rellenar los NaN de esa misma columna
app_name_aleat = df_games_geners_app['app_name'][df_games_geners_app['app_name'].notna()]
type(app_name_aleat)

pandas.core.series.Series

In [23]:
app_name_aleat

88310          Lost Summoner Kitty
88311                    Ironbound
88312      Real Pool 3D - Poolians
88313                      弹炸人2222
88314                Log Challenge
                    ...
120440              Colony On Mars
120441    LOGistICAL: South Africa
120442               Russian Roads
120443         EXIT 2 - Directions
120444                 Maze Run VR
Name: app_name, Length: 32133, dtype: object

In [24]:

# Crear una copia del DataFrame 
df_copy = df_games_genres_app.copy()
df_copy

,app_name,user_id,Action,Adventure,Racing,Simulation,Sports,Strategy
0,None,76561197970982479,0,0,0,0,0,0
1,None,js41637,0,0,0,0,0,0
2,None,evcentric,0,0,0,0,0,0
3,None,Riot-Punch,0,0,0,0,0,0
4,None,doctr,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
120440,Colony On Mars,None,0,0,0,1,0,1
120441,LOGistICAL: South Africa,None,0,0,0,0,0,1
120442,Russian Roads,None,0,0,1,1,0,0
120443,EXIT 2 - Directions,None,0,0,0,0,0,0
120444,Maze Run VR,None,0,0,0,0,0,0

In [25]:
# funcion para rellenar los Null de la columna

def llenar_user_id(row):
    if pd.notna(row['app_name']) and pd.isna(row['user_id']):
        return np.random.choice(valores_aleat)
    else:
        return row['user_id']

In [26]:

# Aplica la función para llenar los valores NaN en 'user_id'
df_copy['user_id'] = df_games_geners_app.apply(llenar_user_id, axis=1)

In [27]:

# Llena los valores nulos en la columna 'app_name' con valores aleatorios de la serie
df_copy['app_name'] = df_copy['app_name'].fillna(app_name_aleat, inplace=True)

In [28]:
df_copy.sample(10)

,app_name,user_id,Action,Adventure,Racing,Simulation,Sports,Strategy
64592,None,chase8255,0,0,0,0,0,0
85432,None,76561198104082316,0,0,0,0,0,0
64000,None,76561198068500036,0,0,0,0,0,0
24612,None,andreyh,0,0,0,0,0,0
14745,None,Tacos4Lyfe,0,0,0,0,0,0
77582,None,76561198087024563,0,0,0,0,0,0
8001,None,nomoreschoolplz,0,0,0,0,0,0
22211,None,76561198088645702,0,0,0,0,0,0
60353,None,Joshugawa,0,0,0,0,0,0
43876,None,76561197982159818,0,0,0,0,0,0

In [29]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   app_name    0 non-null       object
 1   user_id     120443 non-null  object
 2   Action      120445 non-null  int64
 3   Adventure   120445 non-null  int64
 4   Racing      120445 non-null  int64
 5   Simulation  120445 non-null  int64
 6   Sports      120445 non-null  int64
 7   Strategy    120445 non-null  int64
dtypes: int64(6), object(2)
memory usage: 7.4+ MB

In [30]:
# Converti columnas a tipo numérico

numericas=['Action', 'Adventure', 'Racing', 'Simulation', 'Strategy','Sports']

# Convierte las columnas especificadas a tipo numérico
df_copy[numericas] = df_copy[numericas].apply(pd.to_numeric, errors='coerce')

In [31]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   app_name    0 non-null       object
 1   user_id     120443 non-null  object
 2   Action      120445 non-null  int64
 3   Adventure   120445 non-null  int64
 4   Racing      120445 non-null  int64
 5   Simulation  120445 non-null  int64
 6   Sports      120445 non-null  int64
 7   Strategy    120445 non-null  int64
dtypes: int64(6), object(2)
memory usage: 7.4+ MB

In [32]:
df_copy

,app_name,user_id,Action,Adventure,Racing,Simulation,Sports,Strategy
0,None,76561197970982479,0,0,0,0,0,0
1,None,js41637,0,0,0,0,0,0
2,None,evcentric,0,0,0,0,0,0
3,None,Riot-Punch,0,0,0,0,0,0
4,None,doctr,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
120440,None,1829369648,0,0,0,1,0,1
120441,None,76561198037067406,0,0,0,0,0,1
120442,None,Jordanmuss,0,0,1,1,0,0
120443,None,76561198053443950,0,0,0,0,0,0
120444,None,8449,0,0,0,0,0,0

In [33]:
df_copy.columns

Index(['app_name', 'user_id', 'Action', 'Adventure', 'Racing', 'Simulation',
       'Sports', 'Strategy'],
      dtype='object')

In [35]:
# verificar datos nulos
df_copy.isnull().sum()

app_name      120445
user_id            2
Action             0
Adventure          0
Racing             0
Simulation         0
Sports             0
Strategy           0
dtype: int64

In [36]:
# eliminar columna ya que no la vamos a usar para la funcion
df_copy = df_copy.drop(columns='app_name')

In [37]:
df_copy

,user_id,Action,Adventure,Racing,Simulation,Sports,Strategy
0,76561197970982479,0,0,0,0,0,0
1,js41637,0,0,0,0,0,0
2,evcentric,0,0,0,0,0,0
3,Riot-Punch,0,0,0,0,0,0
4,doctr,0,0,0,0,0,0
...,...,...,...,...,...,...,...
120440,1829369648,0,0,0,1,0,1
120441,76561198037067406,0,0,0,0,0,1
120442,Jordanmuss,0,0,1,1,0,0
120443,76561198053443950,0,0,0,0,0,0
120444,8449,0,0,0,0,0,0

Guardar el DF en u n archivo CSV

In [38]:
# Ruta donde deseas guardar el archivo CSV
ruta_csv = r"C:\Users\computadora\Downloads\Labs Henrys PI\df_games_genres_app1.csv"  # Cambia esta ruta a la que desees

# Guarda el DataFrame en un archivo CSV
df_copy.to_csv(ruta_csv, index=False)  # El argumento 'index=False' evita que se incluya el índice en el archivo CSV

print("DataFrame guardado como archivo CSV en:", ruta_csv)

DataFrame guardado como archivo CSV en: C:\Users\computadora\Downloads\Labs Henrys PI\df_games_genres_app1.csv

In [39]:
# cargar df desde csv

df_games_genres_app1 = pd.read_csv(ruta_csv)
df_games_genres_app1

,user_id,Action,Adventure,Racing,Simulation,Sports,Strategy
0,76561197970982479,0,0,0,0,0,0
1,js41637,0,0,0,0,0,0
2,evcentric,0,0,0,0,0,0
3,Riot-Punch,0,0,0,0,0,0
4,doctr,0,0,0,0,0,0
...,...,...,...,...,...,...,...
120440,1829369648,0,0,0,1,0,1
120441,76561198037067406,0,0,0,0,0,1
120442,Jordanmuss,0,0,1,1,0,0
120443,76561198053443950,0,0,0,0,0,0
120444,8449,0,0,0,0,0,0